/* Começo Cadastro */
.form-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 100vh;
	/* Garante que o wrapper tenha pelo menos a altura da tela */
	box-sizing: border-box;
	/* Inclui padding e borda no tamanho total */
}

.form-container {
	background-color: rgba(255, 255, 255, 0.4);
	padding: 30px;
	border-radius: 15px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	width: 100%;
	max-width: 400px;
}

.form-container h2 {
	color: rgba(0, 0, 0, 1);
	margin-bottom: 25px;
	font-size: 2em;
	text-align: center;
	/* Centraliza o título */
}

/* O formulário em si será o flex container para o botão */
.form-container form {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* Isso centraliza o botão */
}

.form-group {
	margin-bottom: 15px;
	width: 100%;
	/* Garante que o grupo ocupe toda a largura disponível */
	text-align: left;
}

.form-group label {
	display: block;
	margin-bottom: 5px;
	color: rgba(0, 0, 0, 1);
	font-weight: bold;
}

.form-group input {
	width: 100%;
	padding: 12px;
	border: 1px solid #ddd;
	border-radius: 8px;
	box-sizing: border-box;
}

.form-group input:focus {
	border-color: #f0ad4e;
	outline: none;
}

.btn-primary {
	margin-top: 15px;
	width: 70%;
	padding: 12px;
	border: none;
	border-radius: 8px;
	background-color: rgba(255, 255, 255, 1);
	color: black;
	font-size: 1.1em;
	cursor: pointer;
	transition: background-color 0.3s;
}

.btn-primary:hover {
	background-color: rgba(255, 215, 0, 0.9);
}

.form-link {
	margin-top: 20px;
	text-align: center;
}

.form-link a {
	color: black;
	text-decoration: none;
}

.form-link a:hover {
	background-color: rgba(255, 215, 0, 0.9);
}

.link {
	margin-top: 20px;
	text-align: center;
}

.link a {
	color: black;
	text-decoration: none;
}

.link a:hover {
	background-color: rgba(255, 215, 0, 0.9);
}



/* Fim Cadastro */