<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - MelinaBit, Seu Gerenciamento de Apiários!</title>
	<link rel="stylesheet" th:href="@{/css/global.css}">
	<link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
	<div class="login-container">
		        <h2 class="text-marrom-escuro">MelinaBit, Seu Gerenciamento de Apiários!</h2>
				<form th:action="@{/login}" method="post">
				    <div class="input-group">
				        <label for="username" class="text-marrom-medio">Usuário:</label>
				        <input type="text" id="username" name="username" required class="border-marrom-claro text-marrom-escuro">
				    </div>
				    
				    <div class="input-group">
				        <label for="password" class="text-marrom-medio">Senha:</label>
				        <input type="password" id="password" name="password" required class="border-marrom-claro text-marrom-escuro">
				    </div>  
				    
				    <button type="submit" class="btn btn-entrar">Entrar</button>

				    <div class="divider"></div>     
				    
				    <a href="http://localhost:8080/cadastro" th:href="@{/cadastro}" class="btn btn-cadastrar">Cadastrar</a>
				    <a href="http://localhost:8080/esqueceu-senha" th:href="@{/esqueceu-senha}"  class="btn btn-esqueceu">Esqueceu a senha?</a>

				    <p th:if="${param.error}" class="error-message">Usuário ou senha inválidos.</p>
				</form>
		    </div>
</body>
</html>