<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Gerenciar Manejos - MelinaBit</title>
	<link rel="stylesheet" th:href="@{/css/global.css}">
	<link rel="stylesheet" th:href="@{/css/gerenciar.css}">
</head>
<body class="allow-scroll">

<div class="manage-apiary-wrapper">
	<div class="manage-apiary-box">
		<h3>Gerenciamento de Manejos</h3>

		<div th:if="${mensagemSucesso}" class="manage-apiary-alert manage-apiary-success" th:text="${mensagemSucesso}"></div>
		<div th:if="${mensagemErro}" class="manage-apiary-alert manage-apiary-danger" th:text="${mensagemErro}"></div>

		<form th:action="@{/gerenciar/gerenciar-manejos}" method="get" class="manage-apiary-search">
			<input type="text" name="keyword" th:value="${keyword}" placeholder="Pesquisar por colmeia ou apiário..." class="manage-apiary-input-search">
			<button type="submit" class="manage-apiary-btn-save" style="width: 150px; margin: 0;">Pesquisar</button>
		</form>

		<hr>

		<form th:action="@{/gerenciar/gerenciar-manejos}" th:object="${manejo}" method="post">
		    <input type="hidden" th:field="*{idManejo}">		    
		    <input type="hidden" name="apiario.idApiario" th:value="${manejo.apiario != null ? manejo.apiario.idApiario : ''}">

		    <div class="manage-apiary-grid">
		        <div class="manage-apiary-field">
		            <label>Apiário:</label>
		            <select th:field="*{apiario}" required class="manage-apiary-select" >
		                <option th:each="apiarioOp : ${apiarios}"
		                        th:value="${apiarioOp.idApiario}"
		                        th:text="${apiarioOp.nome}">
		                </option>
		            </select>
		        </div>
				<div class="manage-apiary-field">
					<label>Nº Colmeia:</label>
					<input type="text" th:field="*{numeroColmeia}" required>
				</div>
				<div class="manage-apiary-field">
				    <label>Data do Manejo:</label>
				    <input type="date" id="dataInspecao" th:field="*{dataInspecao}" required>
				</div>
			</div>
			<hr>
			<div class="manage-apiary-grid">
				<div class="manage-apiary-field">
					<label>Quadros de Ovos e Crias Abertas:</label>
					<input type="number" th:field="*{criasAbertas}">
				</div>
				
				<div class="manage-apiary-field">
					<label>Quadros com Mel:</label>
					<input type="number" th:field="*{quadrosMel}">
				</div>
				
				<div class="manage-apiary-field">
					<label>Crias Operculadas:</label>
					<input type="number" th:field="*{criasOperculadas}">
				</div>		
			</div>

			<hr>
			<div class="manage-apiary-grid">
				<div class="manage-apiary-field">
				    <label>Pólen:</label>
				    <input type="text" th:field="*{polen}" class="mask-binary"> 
				</div>

				<div class="manage-apiary-field">
				    <label>Néctar:</label>
				    <input type="text" th:field="*{nectar}" class="mask-binary">
				</div>

				<div class="manage-apiary-field">
				    <label>Própolis (0 ou 1):</label>
				    <input type="text" th:field="*{propolis}" class="mask-binary">
				</div>
			</div>
			<hr>
			<div class="manage-apiary-grid">
				<div class="manage-apiary-field">
					<label>Rainha Nova:</label>
					<input type="text" th:field="*{rainhaNova}">
				</div>
				<div class="manage-apiary-field">
					<label>Inimigos Naturais:</label>
					<input type="text" th:field="*{inimigosNaturais}">
				</div>
				<div class="manage-apiary-field">
					<label>Alimentador:</label>
					<input type="text" th:field="*{alimentador}" class="mask-binary">
				</div>
			</div>
			<hr>
			<div class="manage-apiary-grid">
				<div class="manage-apiary-field">
					<label>Xarope (Litros):</label>
					<input type="number" step="0.1" th:field="*{xarope}" class="mask-decimal">
				</div>
				<div class="manage-apiary-field">
					<label>Bife Proteico (g):</label>
					<input type="number" th:field="*{bifeProteico}">
				</div>
				<div class="manage-apiary-field">
					<label>Melgueiras (+/-):</label>
					<input type="text" th:field="*{melgueiras}">
				</div>
			</div>
			<hr>
			<div class="manage-apiary-field">
				<label>Observações:</label>
				<textarea th:field="*{obs}" rows="2" class="manage-apiary-field-obs"></textarea>
			</div>

			<div class="manage-apiary-field">
				<button type="submit" class="manage-apiary-btn-save"
						th:text="${manejo.idManejo != null ? 'Atualizar Manejo' : 'Salvar Manejo'}">
				</button>
			</div>
		</form>

		<hr>

		<h3>Lista de Manejos Realizados</h3>
		<div class="manage-apiary-table-scroll">
			<table class="manage-apiary-table">
				<thead>
				<tr>
					<th>Data</th>
					<th>Apiário</th>
					<th>Colmeia</th>
					<th>Ações</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="m : ${manejos}">
					<td th:text="${#temporals.format(m.dataInspecao, 'dd/MM/yyyy')}"></td>
					<td th:text="${m.apiario != null ? m.apiario.nome : 'N/A'}"></td>
					<td th:text="${m.numeroColmeia}"></td>
					<td>
						<a th:href="@{/gerenciar/gerenciar-manejos/editar/{id}(id=${m.idManejo})}" class="manage-apiary-btn-edit">Corrigir</a>

						<a th:href="@{/gerenciar/excluir-manejo/{id}(id=${m.idManejo})}" class="manage-apiary-btn-delete" onclick="return confirm('Deseja excluir?')">Excluir</a>
					</td>
				</tr>
				</tbody>
			</table>
		</div>

		<div class="manage-apiary-field" style="margin-top: 20px;">
			<a th:href="@{/dashboard}" class="manage-apiary-btn-save">Voltar ao Painel</a>
		</div>
	</div>
</div> 
</body>
</html>