<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Cadastro - MelinaBit, Seu Gerenciamento de Apiários!</title>
	<link rel="stylesheet" th:href="@{/css/global.css}">
	<link rel="stylesheet" th:href="@{/css/login.css}">
</head>

<body>
		<h1>✅ Senha Redefinida com Sucesso!</h1>
	    <p>Sua senha foi alterada. Você já pode fazer login com a nova senha.</p>
	    <p>
	        <a href="/login">Clique aqui para ir para a página de Login</a>
	    </p>
</body>

</html>